
/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font: normal 12px "Noto Sans Korean", sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #111;
}

input,
textarea {
    outline: none;
}

#wrapper {
    max-width: 1920px;
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    height: 219px;
    background: #1a1d21;
    color: #fff;
    font-size: 12px;
}

.footer-link {
    background: #1f2838;
    height: 50px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #333;
}

.top-footer {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.footer-link li {
    position: relative;
    float: left;
    line-height: 1;
    text-align: center;
    padding: 0 10px;
}

.footer-link li::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.footer-link li a {
    display: block;
    padding: 15px 10px 16px;
    font-size: 14px;
    color: #fff;
    line-height: 19px;
    box-sizing: border-box;
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    height: 169px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer-dropdown {
    text-align: center;
    margin-bottom: 10px;
    float: right;
    color: #aaa;
}

.footer-dropdown a {
    color: #aaa;
}

.footer-content-box {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.footer_logo img {
    max-width: 150px;
}

.footer-info {
    flex-grow: 1;
    padding-left: 20px;
}

.footer-contact p {
    margin: 5px 0;
}

.footer-contact a {
    color: #ddd;
}

.copyright {
    margin-top: 10px;
    font-size: 11px;
    color: #aaa;
}
